.container {
    max-width: 960px;
  }
  
  
  #nav-section{
    background-color: #722F37 ;

  }

#hardware{
  background-image: url("hardware.jpg");
  color:white;
  background-size: cover;
   /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 font-size: larger;


}

.scanfcode
{
  
  background-color:white;
  padding:10px;
  border:0px;
  color:#722F37;
  font-size:20px;
  margin:10px 40px;
  position:relative;
  text-transform:uppercase;
}
.scanfcode:before,
.scanfcode:after {
  border-color: white;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content:"";
  height: 24px;
  position: absolute;
  width: 24px;
}
.scanfcode:before {
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}

.scanfcode:after {
  border-bottom-width: 2px;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}
.scanfcode:hover:before,
.scanfcode:hover:after
{
  height:100%;
  width:100%;
}

/* scanfcode2 */
.scanfcode2
{
  background-color:transparent;
  border:0px;
  padding:10px 20px;
  color:white;
  position:relative;
  font-size:26px;
  margin:10px 40px;
  position:relative;
  text-transform:uppercase;
  
}
.scanfcode2:before,
.scanfcode2:after
{
  position:absolute;
  border-color: white;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content:"";
  height: 40px;
  position: absolute;
  width: 40px;
}
.scanfcode2:before
{
  border-left-width:2px;
  left:-6px;
  top:6px;
}
.scanfcode2:after
{
  border-right-width:2px;
  right:-6px;
  top:6px;
}
.scanfcode2:hover:before,
.scanfcode2:hover:after
{
  border-top-width:2px;
  border-left-width:0px;
  border-bottom-width:2px;
  border-right-width:0;
  border-color:white;
  top:-3px;
  bottom:-3px;
  width:100%;
  height:100%;
}

#logo{
  border-radius: 50px 50px 50px 50px ;
  }
  

body {
    font-family: "Open Sans", sans-serif;
    margin-top: 200px; 
    background-image: url("bg6.jpg");
}

h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: 25px 0 50px
}

h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background:whitesmoke;
    left: 0;
    right: 0;
    bottom: -10px
}



#linkuse2{
  
  color:#722F37 ;
  border-color: #722F37;
    
  }
#linkuse2:hover{
    background:#722F37 ;
    color: white;
    
      
    }

#services{
  color:white;
  
}

ul{
  list-style: none;
}